body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#table {
  margin-top: 50px;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 2px solid black;
  width: 150px;
  height: 30px;
}
.address {
  width: 300px;
}
